@model AdminCreateProductViewModel

<form method="post" enctype="multipart/form-data">

	<div class="border p-3 mt-4">

		<div class="row pb-2">
			<h2 class="pl-3">Create Product</h2>
			<hr />
		</div>
		<div asp-validation-summary="All"></div>
		<div class="mb-3">
			<label asp-for="Name"></label>
			<input asp-for="Name" class="form-control"></input>
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Description"></label>
			<input asp-for="Description" class="form-control"></input>
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Origin"></label>
			<input asp-for="Origin" class="form-control"></input>
			<span asp-validation-for="Origin" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="PriceInput"></label>
			<input asp-for="PriceInput" class="form-control"></input>
			<span asp-validation-for="PriceInput" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="CertifiedOrganic"></label>
			<input asp-for="CertifiedOrganic" class="form-control"></input>
			<span asp-validation-for="CertifiedOrganic" class="text-danger"></span>
		</div>
		<div class="mb-3">

			<label asp-for="SelectedCategoryId"></label> <br />
			<select asp-for="SelectedCategoryId" asp-items="Model.CategoryOptions"></select>
			<span asp-validation-for="SelectedCategoryId" class="text-danger"></span>
			
		</div>
		<div class="mb-3">

			<label asp-for="SelectedPropertyIdList"></label> <br />
			<select asp-for="SelectedPropertyIdList" asp-items="Model.PropertyOptions" multiple="multiple" id="selectList"></select>
			<span asp-validation-for="SelectedPropertyIdList" class="text-danger"></span>

			<div class="property-options">

			@foreach(var item in Model.PropertyOptions)
			{
					<div class="prop-item btn btn-sm btn-outline-secondary">
						@item.Text
					</div>
			}

			</div>
	
		</div>


		<div class="mb-3">
			<input asp-for=ImageFile type="file">
			<span asp-validation-for="ImageFile" class="text-danger"></span>
		</div>

		<button type="submit" class="btn btn-primary save-change" style="width: 150px">Create</button>
		<a asp-area="Admin" asp-controller="Admin" asp-action="Index" class="btn btn-secondary" style="width: 150px">Back to List</a>
	</div>


</form>

@section Scripts {
	@{

		<partial name="_ValidationScriptsPartial" />
		<script src="~/js/adminScript.js" asp-append-version="true"></script>
		
	}
}

