@model AdminDeleteProductViewModel

<form method="post" asp-action="DeletePost">
	<input asp-for="Id" hidden/>

	<div class="border p-3 mt-4">

		<div class="row pb-2">
			<h2 class="text-primary">Delete Product</h2>
			<hr />
		</div>
		<div asp-validation-summary="All"></div>
		<div class="mb-3">
			<label asp-for="Name"></label>
			<input asp-for="Name" class="form-control"></input>
		</div>
		<div class="mb-3">
			<label asp-for="Description"></label>
			<input asp-for="Description" class="form-control"></input>
		</div>
		<div class="mb-3">
			<label asp-for="Origin"></label>
			<input asp-for="Origin" class="form-control"></input>
		</div>
		<div class="mb-3">
			<label asp-for="Price"></label>
			<input asp-for="Price" class="form-control"></input>
		</div>
		<div class="mb-3">
			<label asp-for="CertifiedOrganic"></label>
			<input asp-for="CertifiedOrganic" class="form-control"></input>
		</div>
		<div class="mb-3">

			<select asp-for="SelectedCategoryId" asp-items="Model.CategoryOptions"></select>


		</div>
		<div class="mb-3">

			<select asp-for="SelectedPropertyIdList" asp-items="Model.PropertyOptions" multiple="multiple"></select>


		</div>

		<button type="submit" class="btn btn-danger" style="width: 150px"><i class="bi bi-trash"></i> Delete</button>
		<a asp-area="Admin" asp-controller="Admin" asp-action="Index" class="btn btn-secondary" style="width: 150px">Back to List</a>
	</div>


</form>

@section Scripts {
	@{

		<partial name="_ValidationScriptsPartial" />
	}
}
