@model AdminDeleteProductViewModel

<h2 class="text-center">Delete product</h2>

<div class="container px-4 px-lg-5 my-5">
	<div class="row gx-4 gx-lg-5 align-items-center">
		<div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" asp-append-version="true" src="@Model.ImageString" alt="Product Image" /></div>
		<div class="col-md-6 h-link" id="volunteer-form">

			<form method="post" asp-action="DeletePost">
				<input asp-for="Id" />

				<div class="form-group">
					<label asp-for="Name"></label>
					<input asp-for="Name" class="form-control" disabled></input>
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Description"></label>
					<textarea asp-for="Description" class="form-control" disabled></textarea>
					<span asp-validation-for="Description" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Origin"></label>
					<input asp-for="Origin" class="form-control" disabled></input>
					<span asp-validation-for="Origin" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="Price"></label>
					<input asp-for="Price" class="form-control" disabled></input>
					<span asp-validation-for="Price" class="text-danger"></span>
				</div>

				<hr class="mx-n1">

				<div class="form-group form-check">

					<input asp-for="CertifiedOrganic" class="form-check-input" disabled>
					<label asp-for="CertifiedOrganic" class="form-check-label"></label>
					<span asp-validation-for="CertifiedOrganic" class="text-warning d-block"></span>

				</div>
				<hr class="mx-n1">
				<div class="mb-3">

					<label asp-for="Properties"></label>
					<select asp-for="SelectedPropertyIdList" asp-items="Model.PropertyOptions" multiple="multiple" disabled id="selectList"></select>
					<span asp-validation-for="SelectedPropertyIdList" class="text-warning d-block"></span>

					<div class="property-options">

						<table>

							@foreach (var flavor in Model.Properties)
							{
								<tr>
									<td class="text-muted small">@flavor.Name</td>
								</tr>
							}

						</table>

					</div>

				</div>

				<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
					<i class="bi bi-trash"></i> Delete
				</button>
				<a asp-area="Admin" asp-controller="Admin" asp-action="Index" class="btn btn-secondary" style="width: 150px" data-bs-dismiss="modal">Back to List</a>

				<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="staticBackdropLabel">Are you sure about this?</h5>
							</div>
							<div class="modal-body">
								By confirming, product: <b> @Model.Name </b> will be removed from inventory.
								<br />
								Do you want to proceed?
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Go Back</button>

								<button type="submit" class="btn btn-danger" style="width: 150px"><i class="bi bi-trash"></i> Delete</button>
							</div>
						</div>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>


@section Scripts {
	@{

		<partial name="_ValidationScriptsPartial" />
	}
}
