@model AdminEditProductViewModel

<div class="container px-4 px-lg-5 my-5">
	<div class="row gx-4 gx-lg-5 align-items-center">
		<div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" asp-append-version="true" src="@Model.ImageString" alt="Product Image" /></div>
		<div class="col-md-6 h-link" id="volunteer-form">

			<form method="post" enctype="multipart/form-data">

				<div class="form-group">
						<label asp-for="Name"></label>
						<input asp-for="Name" class="form-control"></input>
						<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<div class="form-group">
						<label asp-for="Description"></label>
						<textarea asp-for="Description" class="form-control"></textarea>
						<span asp-validation-for="Description" class="text-danger"></span>
				</div>
				<div class="form-group">
						<label asp-for="Origin"></label>
						<input asp-for="Origin" class="form-control"></input>
						<span asp-validation-for="Origin" class="text-danger"></span>
				</div>
				
				<div class="form-group">
					<label asp-for="PriceInput"></label>
					<input asp-for="PriceInput" class="form-control"></input>
					<span asp-validation-for="PriceInput" class="text-danger"></span>
				</div>
			
				<hr class="mx-n1">

					<div class="form-group form-check">

						<input asp-for="CertifiedOrganic" class="form-check-input">
						<label asp-for="CertifiedOrganic" class="form-check-label"></label>
						<span asp-validation-for="CertifiedOrganic" class="text-warning d-block"></span>

					</div>
					<hr class="mx-n1">

				<div class="mb-3">

					<label asp-for="SelectedCategoryId"></label> <br />
					<select asp-for="SelectedCategoryId" asp-items="Model.CategoryOptions"></select>
					<span asp-validation-for="SelectedCategoryId" class="text-danger"></span>

				</div>

					<div class="mb-3">

						<h5>Coffee Properties</h5>

						<select asp-for="SelectedPropertyIdList" asp-items="Model.PropertyOptions" multiple="multiple" id="selectList"></select>
						<span asp-validation-for="SelectedPropertyIdList" class="text-warning d-block"></span>

						<div class="property-options">

							@foreach (var item in Model.PropertyOptions)
							{
								<div class="prop-item btn btn-sm btn-outline-secondary">
									@item.Text
								</div>
							}

						</div>

					</div>

				<div class="mb-3">
					<label asp-for="ImageFile"></label> <br />
					<input asp-for=ImageFile type="file">
					<span asp-validation-for="ImageFile" class="text-danger"></span>
				</div>

					<button type="submit" class="btn btn-primary" style="width: 150px">Save Changes</button>
					<a asp-area="Admin" asp-controller="Admin" asp-action="Index" class="btn btn-secondary" style="width: 150px">Back to List</a>
			</form>
		</div>
	</div>
</div>

@section Scripts {
	@{

		// <partial name="_ValidationScriptsPartial" />
		<script src="~/js/adminScript.js" asp-append-version="true"></script>
	}
}
