@model SearchByMultipleKeysViewModel

@if (Model.AllCoffees.Count() == 0)
{
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">We're sorry!</h1>
            <p class="lead">Your search returned no results</p>
        </div>
    </div>
}

<partial name="PartialAllCoffeesListView" />
