
@{
    ViewData["Title"] = "Registered";
}

<h1>Registered</h1>

<div class="alert alert-primary" role="alert">
    Thank you for registering 
    <a asp-controller="Account" asp-action="Login" class="alert-link">click here</a> to Sign in!
</div>

