
@{
    ViewData["Title"] = "Registered";
}

<h1>Registered</h1>

<div class="alert alert-primary" role="alert">
    Thank you for registering 
    <a asp-controller="Products" asp-action="AllCoffees" class="alert-link">click here</a> to check out our coffee!
</div>

