@model AccountRegisterViewModel

<div class="col-lg-6 mx-auto m-4 p-4">
    <h2 class="text-center">Registration</h2>
    <form asp-controller="Account" asp-action="Register" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger validation-list"></div>
        <div data-mdb-input-init class="form-outline mb-4">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="alert text-danger"></span>
        </div>

        <div data-mdb-input-init class="form-outline mb-4">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="alert text-danger"></span>
        </div>

        <div data-mdb-input-init class="form-outline mb-4">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="alert text-danger"></span>
        </div>

        <div data-mdb-input-init class="form-outline mb-4">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="alert text-danger"></span>
        </div>

         <div data-mdb-input-init class="form-outline mb-4">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="alert text-danger"></span>
        </div>

        <div data-mdb-input-init class="form-outline mb-4">
            <label asp-for="PasswordCheck"></label>
            <input asp-for="PasswordCheck" class="form-control" />
            <span asp-validation-for="PasswordCheck" class="alert text-danger"></span>
        </div>


        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4" id="login">Register</button>

        <div class="text-center">

            <p>I already have an account   <a asp-controller="Account" asp-action="Login">Sign in</a> </p>

        </div>

    </form>
</div>

@section Scripts {
    @{

        <partial name="_ValidationScriptsPartial" />

    }
}