body {

}

.property-options{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 3px;
    
}

.prop-item {
    padding: 5px;
    cursor: pointer;
    transition: background 0.1s;
}

.prop-item-selected {
    background-color: lightgoldenrodyellow;
}

#selectList {
    display: none;
}

.button-text{
    font-size: x-small;
}

.card-text{
    margin: 0;
}
.card-title {
    margin-bottom: .25rem;
    font-size: x-small;
}

.admin-header {
    margin-left: auto;
}

.prop-title {
    color: hsl(123, 17%, 30%);
    font-weight:bolder
}

.unshipped{
    color: red;
}

.completed{
    color: green;
}
