body {
    background-color: red;
}

.property-options{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1px;
    
}

.prop-item {
    padding: 5px;
    cursor: pointer;
    text-align: center;
    border-radius: 3px;
    background-color: aqua;
    transition: background 0.1s;
}

.prop-item-selected {
    background-color: lightgoldenrodyellow;
}