@model ShoppingCartComponentViewModel

<li class="nav-item" id="cart-icon">
    @if(Model.NumberOfItems != 0 && Model.NumberOfItems != null)
    {
        <div id="count">
            <span>@Model.NumberOfItems</span>
        </div>
    }       
        
    <a asp-controller="ShoppingCart" asp-action="ViewCart" type="button" class="btn btn-sm btn-outline-secondary" id="cart">
        <i class="bi bi-cart"></i>
    </a>

</li>
