@model PropertiesAllPropertiesViewModel

<h1 class="text-center">@ViewBag.PageTitle</h1>

<div class="col-12">
	<div class="d-flex flex-row flex-wrap ">
		@foreach (var property in Model.AllProperties)
		{

			<a class="card p-3 px-3 w-50 list-group-item-action" asp-area=""
			   asp-controller="Products"
			   asp-action="FilteredByProperty"
			   asp-route-id="@property.Id" asp-route-slug="@property.Name">@property.Name</a>

		}
	</div>
</div>





