@model LoginComponentViewModel

@if (Model.SignedIn)
{

    @if (Model.IsAdmin)
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle lighter-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @Model.Username <span class="small">(Admin)</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                <a asp-area="" asp-controller="Account" asp-action="Logout" class="nav-link">
                    Logout
                </a>

            </div>

        </li>
    }
    else
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle lighter-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @Model.Username
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                <a asp-area="" asp-controller="Account" asp-action="Logout" class="nav-link">
                    Logout
                </a>

            </div>
        </li>

    }
}
else
{
    <li>
        <a asp-area="" asp-controller="Account" asp-action="Login" class="nav-link">
            Login
        </a>
    </li>
}

